#bu{
    padding: 0;
    margin: 0;
    width: 90px;
    height: 80px;
    border-radius: 10%;
    color: #35060f;
    background-color: #9e8787;
    border: 1.5px solid rgb(70, 66, 66);
    position: fixed;
    bottom:10px;
    right:10px;
}
body{
    height: 1000vh;
}